[submodule "VisceralCombatEngine/vendor/spdlog"]
	path = VisceralCombatEngine/vendor/spdlog
	url = https://github.com/celestialkey/spdlog.git
[submodule "VisceralCombatEngine/vendor/GLFW"]
	path = VisceralCombatEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "VisceralCombatEngine\\vendor\\imgui"]
	path = VisceralCombatEngine\\vendor\\imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VisceralCombatEngine/vendor/glm"]
	path = VisceralCombatEngine/vendor/glm
	url = https://github.com/g-truc/glm
