[submodule "VisceralCombatEngine/vendor/spdlog"]
	path = VisceralCombatEngine/vendor/spdlog
	url = https://github.com/celestialkey/spdlog.git
[submodule "VisceralCombatEngine/vendor/GLFW"]
	path = VisceralCombatEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
